h1{
    color: red;
    background-color: aliceblue;
    font-size: large;
}
body{title
    font: optional;
    font-style: italic;
}
h2{
    color: beige;
    background-color: red;
    font-size: larger;
}
h4{
    color: brown;
    align-items: center;
}